<h1>
  <%= @quiz.title %>
    <div class="pull-right">
    <%= link_to "Edit Quiz", edit_quiz_path, class: 'btn btn-success' %>
    <%= link_to "Delete Quiz", @quiz, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this quiz?'} %>
    </div>
</h1>

<div class="jumbotron home-header">
  <h1>Who Is This?</h1>
  <%= image_tag(@card.photo.url(:medium), class: 'quiz-photo')%>
  <div>
    Card ID: <%= @card.id %> <br/>
    Card Name: <%= @card.name %>
    <p>Name: <input type="text"> <input type="submit" value="Submit"></p>
    <p>Current Role: <input type="text"> <input type="submit" value="Submit"></p>
  </div>
  <%= link_to "Next", @quiz, class: 'btn btn-success' %>
</div>


<div class="row">
  <div class="col-md-8">
    <br/>
    <% @quiz.cards.each do |card| %>
      <div class="media">
        <div class="media-body">
          <div class="quiz-thumb">
            <%= link_to image_tag(card.photo.url(:thumb), class: 'media-object'), card.photo.url, target: '_blank' %>
          </div>
          <h4 class="media-heading" id="name-placement">
            <%= link_to card.name, quiz_card_path(@quiz, card) %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
