<h1>
  <%= @quiz.title %>
    <div class="pull-right">
    <%= link_to "Edit Quiz", edit_quiz_path, class: 'btn btn-success' %>
    <%= link_to "Delete Quiz", @quiz, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this quiz?'} %>
    </div>
</h1>

<div class="jumbotron home-header">
  <h1 class=>Who Is This?</h1>
  <div class='quiz-container'>
    <div class='quiz-photo'>
      <%= image_tag(@card.photo.url(:medium), class: 'quiz-photo')%>
    </div>
    <div class='quiz-responses'>
      <form id='answerForm'>
        <p><input type="text" id='answerName' placeholder='Name'></p>
        <p><input type="text" id='answerRole' placeholder='Current Role'></p>
        <p><input type="text" id='answerCompany' placeholder='Current Company'></p>
        <p><input type="text" id='answerCity' placeholder='Current City'></p>
        <p><input type="text" id='answerSchool' placeholder='School Attended'></p>
        <input type="submit" value="Reveal"></br></br>
      </form>
    </div>
  </div>
  <%= link_to "Next Card", @quiz, class: 'btn btn-success' %>
</div>


<script type="text/javascript">
  var checkSubmission = function(e){
    e.preventDefault()
    var inputName = document.querySelector('#answerName').value
    if(inputName === '<%= @card.name%>'){
      alert('Name: Correct!')
    } else {
      alert('Not quite. Name is: <%= @card.name%>')
    }
    var inputRole = document.querySelector('#answerRole').value
    if(inputRole === '<%= @card.role%>'){
      alert('Role: Correct!')
    } else {
      alert('Shoot! Role is actually: <%= @card.role%>')
    }
    var inputCompany = document.querySelector('#answerCompany').value
    if('<%= @card.company%>' === ''){
    } else {
      if(inputCompany === '<%= @card.company%>'){
        alert('Company: Correct!')
      } else {
        alert('Not quite. Company is: <%= @card.company%>')
      }
    }
    var inputCity = document.querySelector('#answerCity').value
    if('<%= @card.city%>' === ''){
    } else {
      if(inputCity === '<%= @card.city%>'){
        alert('City: Correct!')
      } else {
        alert('Wrong city. City is: <%= @card.city%>')
      }
    }
    var inputSchool = document.querySelector('#answerSchool').value
    if('<%= @card.school%>' === ''){
    } else {
      if(inputSchool === '<%= @card.school%>'){
        alert('School: Correct!')
      } else {
        alert('Not quite. School is: <%= @card.school%>')
      }
    }
  }


  var form = document.querySelector('#answerForm')
  form.onsubmit = checkSubmission
</script>
