<!DOCTYPE html>
<html>
<head>
  <title>Who Is This</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="pull-right login">
      Sign In | Sign Up
    </div>
    <ul class="nav nav-tabs">
      <li><%= link_to "Who Is This", root_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>

  <%= yield %>
  </div>

</body>
</html>
